<html lang='nl'>
  <head>
    <style>
      html, body { font-family: 'Arial', sans-serif; font-size: 14px; color: #000; text-decoration: none; }
    </style>
  </head>
  <body>
    {{{body}}}

    <p>
      Met vriendelijke groet,
      <br />
      ViaTim
    </p>
  </body>
</html>
